<%- include("partials/header"); -%>

<h1>About this project</h1>
<br>
<p> <%= About1 %> </p>
<br>
<p> <%= About2 %> <a href="">here.</a></p>
<br>
<p> <%= About3 %> </p>


<%- include("partials/footer"); -%>
